@font-face {
    font-family: 'myfont';
    src: url(Hack-Italic.ttf);
  }
  
.header {
    height: 55px;
  

    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgb(0, 3, 29) , rgb(1, 57, 59));
  
}



.button {

    font-family: 'myFont' ;
    color:#ffffff;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    transition: color  0.60s;

}
.button:hover
{

color: rgb(1, 255, 242);
opacity: 0.75;
}
