
@font-face {
  font-family: 'myfont';
  src: url(Hack-Regular.ttf);
}

.picture {
  width: 400px;

  position: fixed;
  top: 150px;
  left: 550px;
}

.header {
  height: 120px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;

  background-image: linear-gradient(to right, rgb(0, 3, 29) , rgb(1, 57, 59));

}

.button {

  font-family: 'myFont' ;
  color:#16c0a9;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
  transition: color  0.15s;

  }

.button:hover
{

color: #3ce7d0;
}

