
.profile-picture {
  width: 400px;

  position: fixed;
  top: 150px;
  left: 550px;
}

.header {
  height: 140px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background-image: linear-gradient(to right, rgb(0, 3, 29) , rgb(1, 57, 59));

}


